@media all and (max-width:1220px){
    .container{
        padding: 0 3rem;
        box-sizing: border-box;
    }
    .trip-left {
        max-width: 450px;
    }
    .trip-content {
        margin-top: 50px;
        width: 390px;
        margin-left: -50px;
    }
    .bannar-image{
        height: auto;
    }
    .bannar-image img{
        height: auto;
    }
    /* arrow */
    .right-arrow {
        display: none;
    }
    .testi-info-shadow {
        left: 30px;
    }
}
@media all and (min-width:992px){
    .header-menu ul{
        display: flex !important;
    }
}    
@media all and (max-width:992px){
    .header-btn-area .menu-icon{
        display: block;
    }
    .header-area{
        position: relative;
    }
    .header-menu ul{
        display: none;
        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #34495e;
        z-index: 999;

    }
    .header-menu ul li a{
        padding-top: 1rem;
        padding-bottom: 2rem;
        color: #fff;
    }
    /* bannar area */
    .bannar-content {
        padding-top: 2rem;
    }
    .bannar-content h4 {
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 5rem;
    }
    .play-icon i {
        margin: 0 1rem;
    }
    /* service area */
    .service-items {
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2,1fr);
        grid-gap: 4rem;
    }
    /* trip area */
    .trip-section {
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1,1fr);
    }
    .trip-content {
        margin-left: 0;
    }
    .trip-left {
        max-width: 100%;
    }
    /* destination area */
    .single-imgs-des {
        height: 400px;
    }
    /* testimonials */
    .testi-info-box {
        width: 40rem;
        padding: 5rem 2rem 2rem 2rem;
    }
    .testi-info-shadow {
        width: 40rem;
        left: 0;
    }
    /* partner area */
    .partner-group {
        -ms-grid-columns: (1fr)[3];
            grid-template-columns: repeat(3,1fr);
    }
    /* footer area */
    .footer-content {
        -ms-grid-columns: (1fr)[3];
            grid-template-columns: repeat(3,1fr);
        grid-row-gap: 4rem;
    }
}
@media all and (max-width:767px){
    .header-btn-area .btn {
        margin: 0 1rem;
        padding: 1rem 2.5rem;
    }
    .bannar-area {
        padding-top: 10rem;
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1,1fr);
    }
    .bannar-image {
        margin-top: 8rem;
    }
    .bannar-content p {
        margin: 3rem auto;
        max-width: 500px;
        text-align: center;
    }
    .bannar-content h4 {
        text-align: center;
    }
    .bannar-content h2 {
        font-size: 4rem;
        text-align: center;
    }
    .btn-left {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /* destination area */
    .destination-items {
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
    .single-destination:last-child{
        -ms-grid-column: span 2;
            grid-column: span 2;
            width: 330px;
            margin: auto;
    }
    .input-email {
        width: 32rem;
    }
    .newslater-content h3 {
        font-size: 25px;
    }
    .news-img img:first-child {
        width: 270px;
    }
    .news-img img:last-child {
        width: 190px;
    }
     /* testimonials */
     .testimonials-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .testi-left {
        max-width: 100%;
        text-align: center;
        margin-bottom: 10rem;
    }
    .dots-test {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .testi-right {
        max-width: 100%;
        margin: auto;
    }  
    /* footer area */
    .footer-content {
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .single-footer:last-child {
        -ms-grid-column: span 2;
            grid-column: span 2;
        margin: auto;
    }
    .footer-social-icon li a {
        margin:0 1.5rem;
    }
}
@media all and (max-width:576px){
    .header-main-area{
        flex-direction: column;
    }
    .logo-area {
        margin: auto;
        padding-bottom: 2.5rem;
    }
    .header-menu ul {
        top: 14rem;
    }

    .sec-pb {
        padding: 8rem 0;
    }
    .service-items {
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1,1fr);
    }
    /* destination */
    .destination-items {
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1,1fr);
    }
    .single-destination:last-child{
        -ms-grid-column: span 1;
            grid-column: span 1;
            width: 100%;
    }
    /* next trip */
    .trip-over-box {
        position: static;
        margin-top: 20px;
    }
    .trip-right {
        margin: auto;
    }
     /* partner area */
     .partner-group {
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2,1fr);
    }
    .single-partner{
        margin: auto;
    }
    .partner-group .single-partner:last-child {
        -ms-grid-column: span 2;
            grid-column: span 2;
        margin: 30px auto 0 auto;
    }
     /* news later */
     .form-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .input-email {
        width: 30rem;
        margin: auto;
    }
    .form-btn {
        margin-top: 26px;
    } 
    /* footer area */
    .single-footer:last-child {
        -ms-grid-column: span 2;
            grid-column: span 2;
        margin: 30px auto 0 auto;
    }
    .footer-area {
        padding-bottom: 0;
    }
}
@media all and (max-width:480px){
    .header-btn-area .btn {
        padding: 1rem 1.8rem;
    }
    .select-area {
        display: none;
    }
    h1 {
        font-size: 4rem;
    }
    /* next trip */
    .trip-con-img {
        height: 170px;
    }
    .trip-content {
        margin-top: 0;
        width: 295px;
    }
    .trip-over-box {
        display: none;
    }
    .trip-left h1{
        font-size: 3rem;
    }
    .over-text {
        margin-bottom: 10px;
    }
    /* newslater */
    .input-email {
        width: 24rem;
    }
    /* testimonials */
    .circle-img {
        top: -40px;
        left: 39%;
    }
    /* footer area */
    .footer-content {
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .footer-social-icon ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .single-footer:last-child {
        -ms-grid-column: span 1;
            grid-column: span 1;
    }
    .discover {
        text-align: center;
    }
    .single-footer h2 {
        text-align: center;
    }
}